*{
  cursor: default;
}


.cardpost-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 0;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.post-container {
  display: flex;
  padding: 15px 20px;
}
