.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.app-icon img {
    width: 40px;
    height: 40px;
}

.community-icon img, .profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-button {
    background-color: #A56CC1;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #8e58a8;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .create-button {
        width: 100%;
        margin: 10px 0;
    }
}
