.main-container {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 100px;
    /* Deja espacio para el NavBar fijo */
    align-items: flex-start;
    /* Alinea los elementos al inicio en la dirección vertical */
}

body {
    background-color: aqua;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardpost-container {
    width: 100%;
    /* Asegura que los posts ocupen todo el ancho disponible en su contenedor */
}

user-card {
    display: block;
    /* Asegura que se trate como un bloque y no se extienda innecesariamente */
    width: fit-content;
    /* Ajusta el ancho al contenido */
}

/* @media (min-width: 768px) {
    .main-container {
        max-width: 1200px;
    }
} */

@media (max-width: 1195px) {
    .main-container {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
}