.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

user-menu {
    margin-top: 80px; /* Deja espacio para el NavBar fijo */
    width: 100%;
    max-width: 300px;
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: flex-start;
    }

    user-menu {
        margin-top: 0;
        margin-right: 20px;
    }
}

@media (min-width: 1024px) {
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
}