.main-container {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 100px;
    align-items: flex-start;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* UserMenu responsive adjustments */
  @media (max-width: 1195px) {
    .main-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 40px;
    }
  
    .left-sidebar {
      display: none; /* Oculta el menú de usuario en el sidebar izquierdo */
    }
    
   
  }
  /* Ocultar topUserMenu en versión de escritorio */
.top-user-menu {
    display: none; /* Oculto por defecto en pantallas grandes */
  }
  
  /* Mostrar topUserMenu solo en pantallas móviles */
  @media (max-width: 1195px) {
    .top-user-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 15px;
      background-color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .top-user-menu .logo-img {
      width: 40px;
      height: auto;
    }
  
    .top-user-menu .logo-text {
      font-size: 1.5em;
      color: #333;
      font-weight: bold;
    }
  }
  