.register-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    background-color: #f8f9fa;
    gap: 20px;
    flex-direction: column; /* Default to column layout for mobile */
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 60px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #AA6AFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container button:hover {
    background-color: #935bdb;
}

.form-container p {
    font-size: 14px;
    text-align: center;
    color: #666666;
}

.form-container p a {
    color: #7f4acb;
    text-decoration: none;
    font-weight: bold;
}

.image-container {
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

/* Image styling for responsive design */
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive design adjustments */
@media (min-width: 768px) {
    /* On larger screens, display in row layout */
    .register-wrapper {
        flex-direction: row;
    }

    .form-container {
        max-width: 400px;
    }

    .image-container {
        display: flex;
        max-width: 50%;
        height: auto;
    }
}

@media (max-width: 767px) {
    /* For mobile, set the background image */
    .register-wrapper {
        flex-direction: column;
        height: auto;
        padding: 20px;
        background-color: #f8f9fa;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/dca-petmily.appspot.com/o/cat%20register.png?alt=media&token=1ebaa767-fdd0-4bf9-ac5e-40aff78bfea4');
        background-size: cover;
        background-position: center;
    }

    .form-container {
        padding: 20px;
        max-width: 100%;
        box-shadow: none;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent to show the background image */
    }

    .logo {
        width: 50px;
    }

    .form-container h1 {
        font-size: 20px;
    }

    .form-container input,
    .form-container button {
        font-size: 14px;
    }

    .image-container {
        display: none; /* Hide the image container on smaller screens */
    }
}

@media (max-width: 480px) {
    /* Additional adjustments for very small screens */
    .form-container input,
    .form-container button {
        font-size: 12px;
        padding: 10px;
    }

    .form-container h1 {
        font-size: 18px;
    }
}
