/* Banner y Navbar */
.banner {
    width: 100%;
    height: 250px;
    display: block;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
}

/* Contenedor principal */
.createpost-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 90px;
    margin: auto;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 10;
    margin-top: -50px; /* Ajusta la posición para superponerse al banner */
}

/* Título */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Línea divisoria */
.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* Campo de entrada para la descripción */
.description-input {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

/* Contenedor de carga de imagen */
.image-upload-container {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.image-label {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

.image-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Botón de publicación */
.publish-button {
    width: 100%;
    padding: 12px;
    background-color: #AA6AFF;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.publish-button:hover {
    background-color: #935bdb;
}
