.card-container {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.petmily-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px; /* Espacio debajo del logo */
  justify-content: center;
}

.logo-img {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

.profile-card {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 300px; /* Limitar ancho en pantallas grandes */
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5em;
  color: #333;
}

.username {
  font-size: 1em;
  color: #777;
}

.btn {
  background-color: #AA6AFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  max-width: 250px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #935bdb;
  transform: translateY(-3px);
}

.community-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
}

.community-title {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.community-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.community-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.community-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para resaltar la imagen */
}

.community-name {
  font-size: 1em;
  color: #555;
}

.logout-btn {
  background-color: #ffffff;
  color: #FF5C5C;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  max-width: 250px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #FFE5E5;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .community-card,
  .logout-section {
    display: none; /* Ocultar estos apartados en móviles */
  }

  .petmily-logo {
    margin-bottom: 15px; /* Ajustar espacio en móviles */
  }

  .profile-card {
    width: 100%;
    padding: 15px;
    box-shadow: none;
  }

  .btn {
    font-size: 0.9em;
  }
}
